* {
    font-family: Arial;
}

.bingoHeader {
    position: absolute;
    top: 15px;
    width: 395px;
    color: white;
    background-color: red;
    border: 1px solid #222222;
    border-style: solid;
    text-align: center;
    font-size: 7.8em;
    font-weight: bold;
    font-family:"Lucida Console";
    vertical-align: top;
}

.container {
    position: absolute;
	top: 150px;
    background-color: #222222;
    border: 1px solid #222222;
    border-style: solid;
}

.button {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #eeeeee;
    border: 1px solid #222222;
    border-style: solid;
	margin: 2;
    text-align: center;
    font-weight: bold;
}

.cell {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: lightBlue;
    color: blue;
    border: 1px solid #222222;
	border-style: solid;
	margin: 2;
    margin: auto;
	text-align: center;
	font-weight: bold;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label_color_1 { color: blue; }
.label_color_2 { color: green; }
.label_color_3 { color: red; }
.label_color_4 { color: purple; }
.label_color_5 { color: black; }
.label_color_6 { color: maroon; }
.label_color_7 { color: turqoise; }
.label_color_8 { color: gray; }
.label_color_M { color: white; }