
.container {
    position: absolute;
	top: 20px;
    #background-color: #222222;
    #border: 1px solid #222222;
    #border-style: solid;
    font-family: Arial;
}

.left { left: 0px; }
.middle { left: 400px; }
.right { left: 800px; }

.bingoHeader {
    position: absolute;
    top: 15px;
    width: 390px;
    color: white;
    background-color: red;
    border: 2px solid #222222;
    border-style: solid;
    left: 2px;
    text-align: center;
    font-size: 7.8em;
    font-weight: bold;
    font-family:"Lucida Console", Monaco, monospace;
    vertical-align: top;
}

.button {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #eeeeee;
    border: 3px solid #222222;
    border-style: solid;
    text-align: center;
    font-weight: bold;
}

.cell {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: lightBlue;
    color: blue;
    border: 3px solid #222222;
	border-style: solid;
    margin: auto;
	text-align: center;
	font-weight: bold;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}